.code {
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center; 
  align-items: center; 
}

.imageItem {
  max-width: 400px;
  width: 100%; /* Ensure images don't exceed 400px */
  /* animation: fade .1s linear; */
}

.loadAni{
  animation: loading .2s linear;
}

@media (min-width: 640px) {
  .wrapper{
    margin: 0 10%;
  }
}
@media (min-width: 1024px) {
  .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-content: center;
  }
  .imageItem{
    vertical-align: top;
  }
}


@keyframes loading {
  0% {
    opacity: 0.1;
    scale: 0;
  }
  50% {
    opacity: 0.5;
    scale: .5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}